<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.siternak" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".activities.SiternakApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/siternak_logo_pic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/siternak_logo_pic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- auth -->
        <activity android:name=".activities.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- dashboard -->
        <activity android:name=".activities.home.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.home.ScanCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activities.home.ScanResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- barcode -->
        <activity android:name=".activities.barcode.BarcodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- perkawinan -->
        <activity android:name=".activities.perkawinan.MatchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- grafik -->
        <activity android:name=".activities.grafik.GrafikActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.grafik.GrafikFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- laporan -->
        <activity android:name=".activities.laporan.LaporanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- peternak -->
        <activity android:name=".activities.peternak.PeternakActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activities.peternak.PeternakDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.peternak.PeternakAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.peternak.PeternakEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- data -->
        <activity android:name=".activities.data.DataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- kematian -->
        <activity android:name=".activities.data.KematianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.KematianDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.KematianAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.KematianEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- pemilik -->
        <activity android:name=".activities.data.PemilikActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PemilikDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PemilikAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PemilikEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- penyakit -->
        <activity android:name=".activities.data.PenyakitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PenyakitDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PenyakitAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PenyakitEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- ras -->
        <activity android:name=".activities.data.RasActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RasDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RasAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RasEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- ternak -->
        <activity android:name=".activities.data.TernakActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TernakDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TernakAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TernakEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TernakTrashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TernakTrashDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- peternakan -->
        <activity android:name=".activities.data.PeternakanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PeternakanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PeternakanAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PeternakanEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- perkawinan -->
        <activity android:name=".activities.data.PerkawinanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PerkawinanAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PerkawinanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.PerkawinanEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- riwayat penyakit -->
        <activity android:name=".activities.data.RiwayatPenyakitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RiwayatPenyakitAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RiwayatPenyakitDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.RiwayatPenyakitEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- option -->
        <activity android:name=".activities.option.PemilikOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.RasOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.PeternakanOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.KematianOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.TernakParentOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.TernakPerkawinanOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.TernakRiwayatOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.option.PenyakitOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>