<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.siternak" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/siternak_logo_pic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/siternak_logo_pic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- auth -->
        <activity android:name=".activities.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- dashboard -->
        <activity android:name=".activities.home.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- data -->
        <activity android:name=".activities.data.DataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.KematianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.KematianDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.TambahKematianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.data.EditKematianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>